body{
    background-image:url('bc2.jpg')
    
}
h2{
    font-size:30px;
    text-align: center;
    font-family: arial black;

}
p{
    font-family: arial;
     line-height: 18pt;
     text-align:left;
     color: white;
}

.li-style{
    font-family: arial black;
    color: rgb(183, 169, 169);
    list-style-type: square;
    border: 3px rgb(29, 116, 179);
    border-radius: 18px;
    border-width: 4px;
    border-style:dashed;
    padding: 10px;
    margin: 15px;
    font-size: medium;
}
.p1{
    font-size:x-large;
    color:aliceblue;
    text-align: center;
}
.continous{
    background-color:rgb(43, 104, 226);
    width:130px;
    height:30px; 
    border:none; 
    border-color:white;
    border-radius:15px;
    border-width:2px;
    cursor: pointer;
    margin-right:1020px;
    color:rgb(239, 232, 232);
}

.perfect-button{
    background-color:rgb(43, 104, 226);
    border-color:rgb(20, 20, 21);
    width:130px;
    height:30px;
    border:none;
    border-width:10px;
    border-radius:15px;
    color:antiquewhite;
    font-weight:50px;
    cursor:grab;
}